* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  width: 70vw;
  display: none;
  overflow: hidden;
  z-index: 999;
}

@media (max-width: 768px) {
  nav {
    display: inline;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 600px;
  background: #fff;
  z-index: 1;
}

.menuToggle__button {
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 2;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 60vw;
  z-index: 2;
}

hr {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 2px;
  border: none;
}

li {
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  font-size: large;
}

a {
  text-decoration: none;
}

a > li {
  color: black;
  font-weight: 600;
}

.navigation__buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
